<p>
  <a href="#/" class="lead">Exotic</a>
</p>

<div class="panel-group" id="accordion">

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="javascript:void(0);"
         data-toggle="collapse" data-target="#collapse-observations">Observations</a>
    </h4>
  </div>
  <div id="collapse-observations" class="panel-collapse collapse in">
    <div class="panel-body">

      <ul>
        <li ng-repeat="observation in observations">
          <input type="checkbox"
                 ng-checked="selected_observations.indexOf(observation) > -1"
                 ng-click="selectObservation(observation)"
           /> {{ observation.name }}
        </li>
      </ul>

    </div>
  </div>
</div> <!-- observations panel -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="javascript:void(0);"
         data-toggle="collapse" data-target="#collapse-attributes">Observation Attributes</a>
    </h4>
  </div>
  <div id="collapse-attributes" class="panel-collapse collapse">
    <div class="panel-body">

      <ul>
        <li ng-repeat="attr in example_value.__attrs__">
          <input type="checkbox"
                 ng-checked="object_attrs.indexOf(attr) >= 0"
                 ng-click="toggleAttribute(attr)"
           /> {{ attr }}
        </li>
      </ul>

    </div>
  </div>
</div> <!-- attributes panel -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="javascript:void(0);"
         data-toggle="collapse" data-target="#collapse-samples">Samples</a>
    </h4>
  </div>
  <div id="collapse-samples" class="panel-collapse collapse">
    <div class="panel-body">

      <ul>
        <li ng-repeat="sample in samples">
          <input type="checkbox"
                 ng-checked="selected_samples.indexOf(sample) > -1"
                 ng-click="selectSample(sample)"
           /> {{ sample.name }}
        </li>
      </ul>

    </div>
  </div>
</div> <!-- samples panel -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="javascript:void(0);"
         data-toggle="collapse" data-target="#collapse-properties">Sample Properties</a>
    </h4>
  </div>
  <div id="collapse-properties" class="panel-collapse collapse">
    <div class="panel-body">

      <div ng-repeat="(name, props) in properties">
        <input type="checkbox"
               ng-checked="show_properties.indexOf(name) >= 0"
               ng-click="toggleProperty(name)"
         /> {{ name }}
        <ul>
          <li ng-repeat="value in props">
            <input type="checkbox"
                   ng-checked="filter_properties[name].indexOf(value) >= 0"
                   ng-click="filterProperty(name, value)"
             /> {{ value }}
          </li>
        </ul>
      </div>

    </div>
  </div>
</div> <!-- properties panel -->


</div> <!-- panel-group -->
