<div ng-if="fetches > 0" class="panel panel-warning" id="alerts">
  <div class="panel-heading"><b>Fetching data</b></div>
  <div class="panel-body">
    {{ fetches }} outstanding request(s)
  </div>
</div>

<div ng-if="selected_samples.length != 0 && selected_observations.length != 0">
  <p>
    {{ selected_samples.length }} sample(s),
    {{ selected_observations.length }} observation(s).
    <a href="javascript:void(0);" ng-click="csv=!csv;">Toggle CSV</a>.
  </p>

  <div ng-if="!csv">
    <partial template="table"></partial>
  </div>
  <div ng-if="csv">
    <textarea class="csv" readonly>{{ table_csv }}</textarea>
  </div>

  <a href="javascript:void(0);" ng-click="showScatterMatrix()" ng-if="scatter_matrix===undefined"
   >Show scatter matrix</a>
  <h3 ng-if="scatter_matrix !== undefined">Scatter Matrix</h3>
  <div id="scatter-matrix-box"></div>

</div>

<div ng-if="selected_samples.length == 0 || selected_observations.length == 0">
  <div class="jumbotron">
    <h1>
      Are your data exotic?
    </h1>
    <br/>
    <p>
      Select some samples and observations to find out.
    </p>
  </div>
</div>
