<table class="table table-condensed table-bordered">
  <tr class="success">
    <th></th>
    <th ng-repeat="k in show_properties"></th>
    <th ng-repeat="obs in selected_observations" colspan="{{ object_attrs.length }}">
      {{ obs.name }}
    </th>
  </tr>

  <tr class="success">
    <th> Sample </th>
    <th ng-repeat="k in show_properties"> {{ k }} </th>
    <th ng-repeat="field in attrs">
      {{ field[1] }}
    </th>
  </tr>

  <tr ng-repeat="sample in selected_samples">
    <td>
      {{ sample.name }}
    </td>
    <td ng-repeat="k in show_properties">
      {{ sample.properties()[k] }}
    </td>
    <td ng-repeat="field in attrs">
      <img ng-if="field[2] === 'img'"
           src="{{ data_by_sample[sample.id][field[0]][field[1]] }}" />
      <span ng-if="field[2] !== 'img'"
       >{{ data_by_sample[sample.id][field[0]][field[1]] }}</span>
    </td>
  </tr>
</table>
